.container {
  padding-top: 50px;
  width: 100%;
  height: 300px;
  display: flex;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: var(--light-blue);
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.sucesso{
  margin-bottom: 20px;
}
