@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #303030;
  --secondary: #FFF;
  --light-violet: #5E5E5E;
  --light-blue: #cadef1;
  --grey: #FFF;
  --black: #000000;
  --white: #C6C6C6;

  width: 100%;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;

  background-color: var(--black);
}
