@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&family=Roboto+Flex:opsz,wght@8..144,200;8..144,300;8..144,400;8..144,500;8..144,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #303030;
  --secondary: #FFF;
  --light-violet: #5E5E5E;
  --light-blue: #cadef1;
  --grey: #FFF;
  --black: #000000;
  --white: #C6C6C6;

  width: 100%;
  min-height: 100vh;
  font-family: "Roboto Flex", sans-serif;

  background-color: var(--black);
}
